<p id="notice"><%= notice %></p>

<h1>Flash Designers</h1>

<% @flash_designers.each do |flash_designer| %>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <%= flash_designer.nom_et_prenom %>
                                </h4>
                                <p><%= flash_designer.numero %></p>
                            </div>
                            <div class="right">
                               
                                    <p><%= flash_designer.email %></p>
                            </div>
                            <a href="<%= flash_designer_path(flash_designer.id) %>" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    
                </div>
<% end %> 

<br>

<div class="buttn"><%= link_to 'New Flash Designer', new_flash_designer_path %></div>
