<p id="notice"><%= notice %></p>

<p>
  <strong>Nom et prenom:</strong>
  <%= @chef_operateur.nom_et_prenom %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @chef_operateur.numero %>
</p>

<p>
  <strong>Email:</strong>
  <%= @chef_operateur.email %>
</p>

<p>
  <strong>Info carriere:</strong>
  <%= @chef_operateur.info_carriere %>
</p>

<p>
  <strong>Ambition:</strong>
  <%= @chef_operateur.ambition %>
</p>


<% if chef_operateur_author(@chef_operateur) %>
  <%= link_to 'Edit', edit_chef_operateur_path(@chef_operateur) %> |
  <%= link_to 'Delete', @chef_operateur, method: :delete, data: { confirm: "Êtes-vous sure ?" } %> |
<% end %>
<%= link_to 'Back', chef_operateurs_path %>
