<head>
<style>
* { margin: 0; padding: 0; box-sizing: border-box; }

.cards {
display: grid;
grid-gap: 1rem;
grid-template-column­s: repeat(auto-fit, minmax(0px, 1fr));
padding: 1rem;
}

.card {
border: 1px solid #ccc;
box-shadow: 3px 3px 3px #rgba(73, 98, 104,0.1);
padding: 2rem 1rem;

}

</style>
<link href="//­netdna.bootstrapcdn.c­om/bootstrap/3.2.0/­css/­bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> <script src="//­netdna.bootstrapcdn.c­om/bootstrap/3.2.0/­js/­bootstrap.min.js"></­script>
<link rel="stylesheet" href="https://­maxcdn.bootstrapcdn.c­om/font-awesome/­4.7.0/css/­font-awesome.min.css">
<script src="https://­code.jquery.com/­jquery-3.3.1.js"></script>
</head>
<body>
<p id="notice"><%= notice %></p>




<div class="row">
<h2 class="text-center">
  <%= link_to('Voir le profil', user_path(@chef_operateur.user_id)) %>
</h2>
<div class="col-sm-6">
    <div class="card well">
      <div class="card-body">
<p>
  <strong>Nom et prénom:</strong>
  <%= @chef_operateur.nom_et_prenom %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @chef_operateur.numero %>
</p>

<p>
  <strong>Email:</strong>
  <%= @chef_operateur.email %>
</p>

<p>
  <strong>Info carrière:</strong>
  <%= @chef_operateur.info_carriere %>
</p>

<p>
  <strong>Ambition:</strong>
  <%= @chef_operateur.ambition %>
</p>


<% if chef_operateur_author(@chef_operateur) %>
  <%= link_to 'Edit', edit_chef_operateur_path(@chef_operateur) %> |
  <%= link_to 'Delete', @chef_operateur, method: :delete, data: { confirm: "Êtes-vous sure ?" } %> |
<% end %>
</div>
</div>
</div>
</div>
<div class="buttn"><%= link_to 'Back', chef_operateurs_path %></div>
