<p id="notice"><%= notice %></p>

<h1>Chef Electriciens</h1>

<% @chef_electriciens.each do |chef_electricien| %>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <%= chef_electricien.nom_et_prenom %>
                                </h4>
                                
                            </div>
                            <div class="right">
                               
                                    <p><%= chef_electricien.email %></p>
                            </div>
                            <a href="<%= chef_electricien_path(chef_electricien.id) %>" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    
                </div>
            <% end %> 

<br>

<div class="buttn"><%= link_to 'New Chef Electricien', new_chef_electricien_path %></div>
