<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "I-Tady", root_url, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
<%# --------------bouton pour voir la liste des jobs-------------------%>
          <li><%= link_to 'Voir tous les métiers', show_listejob_path %></li>
<%#--------------------------------------------------------------------%>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to('Profil', user_path(current_user)) %></li>
              <li><%= link_to 'Editer le Profil', edit_user_path(current_user) %></li>
              <li><%= link_to 'Changer le mots de passe', edit_user_registration_path %></li>
              <li><%= link_to('Déconnexion', destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        <% else %>
         <li><a href="/team">La team</a></li>
          <li><%= link_to 'Se connecter', user_session_path %></li>
          <li><%= link_to 'S\'inscrire', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>