<p id="notice"><%= notice %></p>

<h1>Producteurs</h1>

<% @producteurs.each do |producteur| %>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <%= producteur.nom_et_prenom %>
                                </h4>
                                
                            </div>
                            <div class="right">
                               
                                    <p><%= producteur.email %></p>
                            </div>
                            <a href="<%= producteur_path(producteur.id) %>" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    
                </div>
            <% end %> 

<br>

<div class="buttn"><%= link_to 'New Producteur', new_producteur_path %></div>
