<p id="notice"><%= notice %></p>



<h2>
  <%= link_to('Voir le profil', user_path(@dev_mobile.user_id)) %>
</h2>
<p>
  <strong>Nom et prenom:</strong>
  <%= @dev_mobile.nom_et_prenom %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @dev_mobile.numero %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dev_mobile.email %>
</p>

<p>
  <strong>Langage:</strong>
  <%= @dev_mobile.langage %>
</p>

<p>
  <strong>Info carriere:</strong>
  <%= @dev_mobile.info_carriere %>
</p>

<p>
  <strong>Ambition:</strong>
  <%= @dev_mobile.ambition %>
</p>





<% if dev_mobile_author(@dev_mobile) %>
  <%= link_to 'Edit', edit_dev_mobile_path(@dev_mobile) %> |
  <%= link_to 'Delete', @dev_mobile, method: :delete, data: { confirm: "Êtes-vous sure ?" } %> |
<% end %>
<%= link_to 'Back', dev_mobiles_path %>
