<%= form_for(chef_decorateur) do |f| %>
  <% if chef_decorateur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chef_decorateur.errors.count, "error") %> prohibited this chef_decorateur from being saved:</h2>

      <ul>
      <% chef_decorateur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom_et_prenom %>
    <%= f.text_field :nom_et_prenom %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :info_carriere %>
    <%= f.text_area :info_carriere %>
  </div>

  <div class="field">
    <%= f.label :specialite %>
    <%= f.text_field :specialite %>
  </div>

  <div class="field">
    <%= f.label :ambition %>
    <%= f.text_area :ambition %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
