<p id="notice"><%= notice %></p>

<h1>Maquilleurs</h1>


<% @makeups.each do |makeup| %>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <%= makeup.nom_et_prenom %>
                                </h4>
                                
                            </div>
                            <div class="right">
                               
                                    <p><%= makeup.email %></p>
                            </div>
                            <a href="<%= makeup_path(makeup.id) %>" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    
                </div>
            <% end %> 

<br>

<br>

<div class="buttn"><%= link_to 'New Makeup', new_makeup_path %></div>
