<div class="row">




  <div class="col-lg-6 col-lg-offset-3 well">

    <h1> Les postes dans la Cinématographie </h1>


    <p> <%= link_to 'Acteurs', acteurs_path %></p> 
    <p> <%= link_to 'Assistant réalisateurs', assistant_realisateurs_path %></p>
    <p> <%= link_to 'Cadreurs', cadreurs_path %></p>    
    <p> <%= link_to 'Chef décorateurs', chef_decorateurs_path %></p>    
    <p> <%= link_to 'Chef éléctriciens', chef_electriciens_path %></p>    
    <p> <%= link_to 'Chef opérateur', chef_operateurs_path %></p>    
    <p> <%= link_to 'Directeur photographiques', dirphots_path %></p>  
    <p> <%= link_to 'Directeur de productions', directeur_de_prods_path %></p>   
    <p> <%= link_to 'Effets spéciaux', vfxes_path %></p>    
    <p> <%= link_to 'Ingénieur de son', inge_sons_path %></p> 
    <p> <%= link_to 'Maquilleurs', makeups_path %></p>    
    <p> <%= link_to 'Monteur vidéo', monteur_videos_path %></p> 
    <p> <%= link_to 'Perchsites', perchistes_path %></p>    
    <p> <%= link_to 'Photographes', photographes_path %></p>    
    <p> <%= link_to 'Producteurs', producteurs_path %></p> 
    <p> <%= link_to 'Régiseurs', regiseurs_path %></p>
    <p> <%= link_to 'Scénaristes', scenaristes_path %></p>    
    <p> <%= link_to 'Scriptes', scriptes_path %></p>    
    </div>
</div>
