<p id="notice"><%= notice %></p>

<h1>Photographes</h1>

<% @photographes.each do |photographe| %>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <%= photographe.nom_et_prenom %>
                                </h4>
                                <p><%= photographe.numero %></p>
                            </div>
                            <div class="right">
                               
                                    <p><%= photographe.email %></p>
                            </div>
                            <a href="<%= photographe_path(photographe.id) %>" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    
                </div>
            <% end %> 

<br>

<div class="buttn"><%= link_to 'New Photographe', new_photographe_path %></div>
