<p id="notice"><%= notice %></p>

<h1>Integrateur Webs</h1>

<% @integrateur_webs.each do |integrateur_web| %>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <%= integrateur_web.nom_et_prenom %>
                                </h4>
                                <p><%= integrateur_web.numero %></p>
                            </div>
                            <div class="right">
                               
                                    <p><%= integrateur_web.email %></p>
                            </div>
                            <a href="<%= integrateur_web_path(integrateur_web.id) %>" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    
                </div>
<% end %> 

<br>

<div class="buttn"><%= link_to 'New Integrateur Web', new_integrateur_web_path %></div>
